<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.jtest.plugin" version="1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>JTest</name>
    <NAME>I am Jayesh</NAME>

    <js-module name="JTest" src="www/JTest.js">
        <clobbers target="JTest" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="JTest">
                <param name="android-package" value="com.jtest.plugin.JTest" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/JTest.java" target-dir="src/com/jtest/plugin/JTest" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="JTest">
                <param name="ios-package" value="JTest" />
            </feature>
        </config-file>
        <source-file src="src/ios/JTest.m" />
    </platform>


</plugin>